<h1>Olá Angular</h1>
<nav>
    <a routerLink="/">Home</a>
    <a routerLink="/listas">Lista</a>
    <a routerLink="/testando">Vai ai</a>
</nav>
<router-outlet></router-outlet>



<!-- <p>Provando que apenas o paragrafo abaixo está vermelho, pois o css é scoped</p>
<div>
    <a href="https://www.google.com.br" target="_blank">Clique para ir ao google</a>
</div>
<app-first-component></app-first-component>
                Como eu vou chamar = Como é o nome no componente pai  -->
<!-- <app-component-filho [name]="Usuario" [UsuarioDados] = "UsuarioDados"></app-component-filho>
<app-diretivas></app-diretivas>
<app-renderizacao-condicional></app-renderizacao-condicional>
<app-eventos></app-eventos>
<app-emissor></app-emissor>
<app-emissor-evento></app-emissor-evento>
<app-listas></app-listas>
<app-pipe></app-pipe>
<app-two-way-biding></app-two-way-biding> -->